@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


/*Nov Dropdown za da e na hover a ne kato clicknesh samo. S malkite razmeri e*/
.fallbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font: normal normal 700 1em/4em Arial,sans-serif;
}
.falldown {
    position: relative;
    display: inline-block;
}
.falldown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 210px;
    min-height: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
	margin-top: -12px;
}
.falldown-content a {
    color: black;
    text-decoration: none;
    display: block;
	padding: 15px;
	width: 100%;
	height: 40px;
	line-height: 30px;
	
}
.falldown-content a:hover {background-color: #ddd; color: green;}
.falldown:hover .falldown-content {display: block;}
.falldown:hover .fallbtn1 {background-color: #bbffc0; color:black; border-radius: 3px; height:90px;}
/*Nov Dropdown za da e na hover a ne kato clicknesh samo.*/


/*Scrollbar*/
::-webkit-scrollbar-track{background-color:#222222;}
::-webkit-scrollbar{width: 10px;background-color: #222222;}
::-webkit-scrollbar-thumb{background-image: -webkit-linear-gradient(90deg, #65d272 0%, #A1E871 25%, #A1E871 100%, #A1E871 75%, #A1E871)}


html,
body,

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #56576e;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #6858db;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    color: #22233b;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #56576e;
}


/*Za da scrollva s tranziciq*/
html {
  scroll-behavior: smooth;
}

#intro {
    background: url("img/header-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer.page-footer a:hover {color: #222222;}

.navbar {
    z-index: 1;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.green {
    background-color: #64aa46;
    color: black;
}

#main,
#contact {
    height: 420px;
}

.top-nav-collapse {
    background-color: white
}

.dropdown-item:hover {
    background-color: rgba(100, 170, 70, 0.5) !important;
}

.dropdown-item:active {
    background-color: rgba(100, 170, 70, 1) !important;
}

.btn-rounded {
    border-radius: 10em;
}

.btn-outline {
    border-color: #a6c !important;
    background-color: transparent !important;
    color: #a6c !important;
}

.btn-outline:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


/* 
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
} */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}



/*NEW*/
.navbar.scrolling-navbar.top-nav-collapse {z-index: 609;}


/* ---- particles.js container ---- */
canvas {
    display: block;
    vertical-align: bottom;	
	background: linear-gradient(110deg, #59a454 , #00342e);}

.new{
background: linear-gradient(110deg, #59a454, #00342e);
background-size: 400% 400%;

-webkit-animation: green-gradient 10s ease infinite;
-moz-animation: green-gradient 10s ease infinite;
animation: green-gradient 10s ease infinite;


}

@-webkit-keyframes green-gradient {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes green-gradient {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes green-gradient { 
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(85deg, #59a454 , #00342e);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---- particles.js container ---- */

.latest h2.title {
    position: absolute;
    top: 140vw;
    left: 0;
    color: #000;
    z-index: 500;
    transform: translateY(-50%) rotate(90deg);
    font-size: 140px;
    left: -413px;
    opacity: 0.1;
    margin: 0;
}
.latest-mini h3.title {
position: absolute;
top: 23.5vw;
right: -11vw;
color: #000;
z-index: 500;
font-size: 100px;
opacity: 0.1;
margin: 0;
transform: translateY(-50%) rotate(90deg);
}

/*Nav Buttons*/
.btns-grad-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 20vw;
  margin: 0 auto;
  min-height: 60px;
}
.btn-grad {
	color: white;
  width: 250px;
  height: 60px;
  flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
 }
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
}
.btn-3 {
background-image: linear-gradient(105deg, #004c44
  0%, #59a454 51%);
}
.btn-4 {
background-image: linear-gradient(105deg,  #2c6d28 0%,  #59a454 51%);
}

.c--anim-btn-drop {
    height: 34px;
    font: normal normal 700 1em/4em Arial,sans-serif;
    width: 140px;
    background-color: transperant;
    color: black;
}
.c--anim-btn span {
  text-decoration: none;
  text-align: center;
  display: block;
	margin-top: -1em;
}
.c--anim-btn, .c-anim-btn {
  transition: 0.3s;     
}
.c--anim-btn {
  height: 44px;
  font: normal normal 700 1em/4em Arial,sans-serif;
  overflow: hidden;
  width: 120px;
  background-color: transperant;
  color: black;
}
.c-anim-btn{
  margin-top: 0em;   
}
.c--anim-btn:hover .c-anim-btn{
  margin-top: -4em;
}
.c-anim-btn:hover {color:green;}
.c-anim-second {color: green; }
.c--anim a {margin-top: -0.2vw;}
/*Nav Buttons*/

/* Double Colums, different widths. */
.column-holder {width: 100%; height:100px;color: white;}
.column-1 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
}
.column-2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
}
.column-3 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
}
.column-4 {
    float: left;
    width: 48%;
    padding: 10px;
    height: 100px;
}

/* Clear floats after the columns */
.column-holder:after {
    content: "";
    display: table;
    clear: both;
}

/*Krugli butoni s hover effect*/
.cta-dott {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-dott:before {
    content: "";
    position: absolute;
    top: 0.3vw;
	left: -3.3vw;
    display: block;
    border-radius: 96px;
    background: rgba(37, 37, 37, 0.7);
    width: 96px;
    height: 96px;
    transition: all 0.3s ease;
}

.cta-dott span {
  position: relative;

  line-height: 16px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta-dott svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  top: -0.1vw;
  left: -9px;

}
.cta-dott:hover:before {
  width: 280px;
  background: #252525;
}
.cta-dott:hover svg {
  transform: translateX(0);
}
.cta-dott:active {
  transform: scale(0.96);
}

.cta-dott2 {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-dott2:before {
  content: "";
  position: absolute;
 top: 0.3vw;
left:	0.2vw;
  display: block;
  border-radius: 96px;
  background: rgba(37, 37, 37, 0.7);
  width: 96px;
  height: 96px;
  transition: all 0.3s ease;
}
.cta-dott2 span {
  position: relative;
  line-height: 16px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta-dott2 svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  top: -0.1vw;
  left: -9px;

}
.cta-dott2:hover:before {
  width: 270px;
  background: #252525;
}
.cta-dott2:hover svg {
  transform: translateX(0);
}
.cta-dott2:active {
  transform: scale(0.96);
}


.cta-dott3 {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-dott3:before {
    content: "";
    position: absolute;
    top: 0.3vw;
	left: -8.6vw;
    display: block;
    border-radius: 96px;
    background: rgba(37, 37, 37, 0.7);
    width: 96px;
    height: 96px;
    transition: all 0.3s ease;
}

.cta-dott3 span {
  position: relative;

  line-height: 16px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta-dott3 svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  top: -0.1vw;
  left: -9px;

}
.cta-dott3:hover:before {
  width: 280px;
  background: #252525;
}
.cta-dott3:hover svg {
  transform: translateX(0);
}
.cta-dott3:active {
  transform: scale(0.96);
}

.cta-dott4 {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-dott4:before {
  content: "";
  position: absolute;
 top: 0.3vw;
left: -7vw;
  display: block;
  border-radius: 96px;
  background: rgba(37, 37, 37, 0.7);
  width: 96px;
  height: 96px;
  transition: all 0.3s ease;
}
.cta-dott4 span {
  position: relative;
  line-height: 16px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta-dott4 svg {
  position: relative;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  top: -0.1vw;
  left: -9px;

}
.cta-dott4:hover:before {
  width: 270px;
  background: #252525;
}
.cta-dott4:hover svg {
  transform: translateX(0);
}
.cta-dott4:active {
  transform: scale(0.96);
}

.wipe {
font-size: 0.8vw;
text-align: center;
color: #fff;
height: 30px;
margin-top: -0.5vw;	display:block;
margin-left: -0.3vw;
}
.linear-wipe {
font-size: 1vw;
text-align: center;
background: linear-gradient(to right, #b1ea8e 20%, #65d272 40%, #65d272 60%, #b1ea8e 80%);
background-size: 200% auto;
color: #000;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 3s linear infinite;
height: 40px;
margin-top: -0.2vw;	display:block;}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
/*Krugli butoni s hover effect*/

/*Download Styles*/

.download-now {
  width: 18rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
	margin-bottom: 1vw;
}
.download-now .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
    background: linear-gradient(135deg, #A1E871 20%, #65d272 40%);	
}
.download-now .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.download-now .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.download-now .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: -0.4rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.download-now .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
padding-top: 16px;
padding-left: 1.5vw;	
}
.download-now:hover .circle {
  width: 100%;
}
.download-now:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
.download-now:hover .button-text {
  color: #fff;
}



/*Download Overlays*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    overflow: hidden;
	z-index: 800;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255, 0.95);
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 0%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn {
position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
	z-index: 999999;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*Download Overlays*/


.downloads {padding-top:0vw;}
.download-text {font-size: 20px;}
.download-subtext {    
	font-size: 20px;
    color: green;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.container-downloads {
max-width: 1440px;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
	margin-top: 6vw;
}

.container-downloads:after {
    content: "";
    display: table;
    clear: both;
}

.down-col-1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 270px;
	padding: 10px;
}
.down-col-3 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 270px;
	padding: 10px 10px 10px 8vw;
}
.down-col-4 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 270px;
	padding: 10px;
}
.down-col-5 {
    float: left;
    width: 62%;
    padding: 10px;
    height: 270px;
	padding: 10px;
}
.down-col-6 {
    float: left;
    width: 38%;
    padding: 10px;
    height: 270px;
	padding: 10px;
}
.down-col-7 {
    float: left;
    width: 38%;
    padding: 10px;
    height: 270px;
    padding: 10px;
	margin-top: 2vw;}

.download-img {width: 370px; height: 200px; margin: 0px 60px 0px 60px;}
.download-img-2 {width: 370px; height: 200px; margin: 0vw 2vw 0vw 9vw;}
.download-img-big {
width: 820px;
height: 600px;
margin: 0vw 2vw 0vw 0vw;
}



.service-icon {text-align: center;}
.service-title {text-align: center;}
.service-title {text-align: center;}
/*NEWLY ADDED END*/
.page-title {
    font-weight: 400;
    font-size: 36px;
	font-family: 'Muli', sans-serif;
}
.page-title-2 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    color: #222222;
	font-weight: 800;
    font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 1.5vw;
}

.page-title-3 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
	font-weight: 800;
    font-size: 5rem;
	letter-spacing: 0.2vw;
	font-family: 'Open Sans', sans-serif;
	
}
.page-title-4 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
	font-weight: 800;
    font-size: 4rem;
	letter-spacing: 0.2vw;
	font-family: 'Open Sans', sans-serif;
	
}


.page-title-bold {
    font-weight: 800;
    font-size: 36px;
	font-family: 'Open Sans', sans-serif;
}

.page-title-5 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 0.2vw;
    font-family: 'Open Sans', sans-serif;
	float: right;
	display:block;
}


.page-title-6 {
    margin: 0 0 15px;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.2vw;
    font-family: 'Open Sans', sans-serif;
	float: right;
	display:block;
}



/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*-- 3. Helpler-Class --*/

.vcenter {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bg-white {
    background-color: #ffffff;
}

.text-error {
    color: #ff867a;
}


.bttn-icon {
    padding: 15px 50px;
    color: #ffffff;
    display: inline-block;
    border-radius: 100px;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
	margin-bottom:10px;
	background-color:#252525;   
	max-width: 230px;
    height: 80px;
}



.bttn-icon:focus,
.bttn-icon:hover {
    color: #ffffff;
    background-color: #59a454;
    -webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
}

.bttn-icon .bttn-content {
    position: relative;
    padding-left: 50px;
    display: block;
}

.bttn-icon .bttn-content .icon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    width: 30px;
}

.bttn-icon .bttn-content small {
    display: block;
    font-size: 12px;
}

.bttn-icon .bttn-content strong {
    display: block;
    font-size: 18px;
}




.land-bttn-icon {
    padding: 15px 50px;
    color: #ffffff;
    display: inline-block;
    border-radius: 100px;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
	margin-bottom:10px;
	background-color:#252525;
}
.land-bttn-icon:focus,
.land-bttn-icon:hover {
    color: #ffffff;
    background-color: #59a454;
    -webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
}
.land-bttn-icon .bttn-content {
    position: relative;
    padding-left: 50px;
    display: block;
}
.land-bttn-icon .bttn-content .icon {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    width: 30px;
}
.land-bttn-icon .land-bttn-content small {
    display: block;
    font-size: 12px;
}
.land-bttn-icon .land-bttn-content strong {
    display: block;
    font-size: 18px;
}






.section-pd-top-2 {
    padding-top: 90px;
}

.section-padding-top {
 padding-top: 9vw;
 padding-bottom: 7vw;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-list,
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    display: block;
    margin-bottom: 10px;
}

.icon-list li {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    color: #22233b;
}

.icon-list li .icon {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 25px;
}



/*-- 4. Mainmenu-Area --*/

.mainmenu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    z-index: 99999;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.transparent {
    background: none;
}

.mainmenu-area.affix {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
}

.mainmenu-area ul.nav.navbar-nav {
    float: none;
    display: block;
    text-align: center;
}

.mainmenu-area ul.nav.navbar-nav li {
    float: none;
    display: inline-block;
}

.mainmenu-area ul.nav.navbar-nav > li > a {
    background: none;
    font-weight: 600;
    font-size: 16px;
    color: #56576e;
    padding: 20px;
}

.mainmenu-area ul.nav.navbar-nav > li.active > a,
.mainmenu-area ul.nav.navbar-nav > li > a:hover {
    color: #6858db;
}

.navbar-bttn {
    padding: 15px 40px;
    background-color: #ffffff;
    color: #6858db;
    display: inline-block;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
}

.navbar-bttn.active,
.navbar-bttn:hover {
    color: #ffffff;
    background-color: #6858db;
}

.navbar-bttn.active:hover {
    background-color: #ffffff;
    color: #6858db;
}

/*-- 5. Header-Area --*/

.header-area {
    position: relative;
    height: 100%;
    width: 100%;

    padding: 0px 0;
}

.headline {
    font-size: 48px;
    font-weight: 800;
}

.headline2 {
    font-size: 28px;
    font-weight: 800;
}

.download-area .bttn-icon,
.header-area .bttn-icon {
    margin-right: 15px;
}

/*-- 6. Service-Box --*/

.service-box-two,
.service-box {
    padding: 60px 30px;
    margin: 0 0 30px 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 30px -12px #c9c9c9;
    box-shadow: 0 0 30px -12px #c9c9c9;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

}

.service-box-two:hover,
.service-box:hover {
    -webkit-box-shadow: 0 0 30px -5px #c9c9c9;
    box-shadow: 0 0 30px -5px #c9c9c9;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.service-box .service-icon {
    width: 70px;
    height: 70px;
    margin: auto auto 40px auto;
    background-color: #f6f6f9;
    padding: 15px;
    border-radius: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.service-box .service-icon img,
.service-box .service-icon i {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.service-box .service-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.service-box-two {
    padding: 40px 30px;
}

.service-box-two .service-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    display: inline-block;
    color: #ffffff;
    background-color: #2d5baf;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

/*-- Feature-Box --*/

.feature-box {
    text-align: center;
}

.feature-box .feature-icon {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    display: inline-block;
    font-size: 24px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 30px;
}

/*-- 7. Social-Area --*/

.social-logo {
    margin-bottom: 30px;
}


/*-- 7.1 Counter-Box --*/

.counter-boxes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.counter-boxes li {
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    min-width: 120px;
    min-height: 100px;
    text-align: center;
    background-color: #ffffff;
}

.counter-boxes li .counter {
    color: #f9748e;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.counter-boxes li .title {
    font-size: 18px;
    color: #56576e;
}


/*-- 9. Feature-Area --*/

.single-feature {
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: 30px;
    margin-bottom: 30px;
}


.single-feature:hover {
    -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}


.single-feature .feature-icon {
    height: 120px;
    width: 120px;
    text-align: center;
    margin: auto;
}

.single-feature .feature-icon img {
    width: auto;
    margin: auto;
}

.single-feature .title {
    font-size: 22px;
}

.features .owl-stage .owl-item:nth-child(even) .single-feature {
    margin-top: 60px;
}

/*-- 10. Price-Area --*/

.price-box-two {
    padding: 50px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    text-align: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.price-box-two:hover {
    background-color: #F5FBFF;
}

.price-box-two ul {
    list-style: none;
    margin: 30px 0 50px 0;
    padding: 0;
    text-align: left;
}

.price-box-two ul li {
    padding: 8px 5px 8px 30px;
    display: block;
    position: relative;
}

.price-box-two ul li:before {
    content: url('images/check.png');
    position: absolute;
    left: 0;
    top: 10px;
}

.price-box-two .price-rate {
    font-size: 36px;
    color: #1EA9FE;
}

.price-box-two .bttn-default {
    border-radius: 3px;
    display: block;
    color: #1EA9FE;
    background-color: transparent;
    border: 1px solid #1EA9FE;
    padding: 15px;
}

.price-box-two .bttn-default:hover {
    color: #ffffff;
    background-color: #1EA9FE;
	
}

.price-box {
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    /*background: url("images/price-bg.png") no-repeat scroll right top/ auto 50%;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);*/
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.price-box-two:hover,
.price-box:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
}

.price-box .price-icon {
    height: 80px;
}

.price-box .title {
    font-size: 22px;
    font-weight: 700;
}

.price-box ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    color: #56576e;
}

.price-box ul li {
    margin-bottom: 10px;
}

.price-box .price-rate {
    color: #6858db;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.bttn-default {
    border: 1px solid #1a7728;
    border-radius: 50px;
    color: #1a7728;
    padding: 15px 60px;
    display: inline-block;
    font-weight: 700;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 10px;
	 margin-top: 5px;
}

.bttn-default:hover {
    background-color: #59a454;
    color: #ffffff;
	-webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.4);
}

.bttn-sq {
    border-radius: 6px;
}

.bttn-lg {
    padding: 20px 50px;
}

.form_control {
    width: 100%;
    padding: 18px 20px;
    border-radius: 6px;
    border: 1px solid #d2d2db;
    margin-bottom: 30px;
    outline: none;
}

textarea.form_control {
    min-height: 120px;
}

.form-double .form_group {
    width: calc(50% - 15px);
    float: left;
}

.form-double .form_group.last {
    float: right;
}

/*-- 11. FAQ-Area --*/

.single-faq {
    background-color: rgba(236, 234, 251, 0.3);
    padding: 30px 20px;
    margin-bottom: 30px;
    border-radius: 6px;
}

/*-- 12. Gallery-Area --*/

.gallery-area {
    overflow: hidden;
}

.full-width {
    width: 100vw;
}

.gallery .item {
    margin: 30px 15px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
}

.gallery .owl-controls .owl-dots {
    text-align: center;
}

.gallery .owl-controls .owl-dots .owl-dot {
    display: inline-block;
}

.gallery .owl-controls .owl-dots .owl-dot span {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #dcdcdc;
    border-radius: 100%;
    margin: 5px;
}

.gallery .owl-controls .owl-dots .owl-dot.active span {
    background-color: #6858db;
}

.gallery .owl-controls .owl-nav {
    text-align: center;
}

.gallery .owl-controls .owl-nav > div {
    display: inline-block;
    padding: 15px;
}

.gallery.side-arrow .owl-controls .owl-nav > div {
    position: absolute;
    top: calc(50% - 30px);
    left: -70px;
    width: 70px;
}

.gallery.side-arrow .owl-controls .owl-nav > div.owl-next {
    top: calc(50% + 30px);
}

.gallery.side-arrow .owl-controls .owl-nav > div img {
    width: 40px;
}

.video-box {
    position: relative;
}

.video-box .video-photo {
    border-radius: 6px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

.play-bttn {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: none;
    color: #ffffff;
    line-height: 100px;
    font-size: 50px;
    padding-left: 6px;
}

.play-bttn:focus,
.play-bttn:hover {
    color: #6858db;
}

.video-box .play-bttn {
    position: absolute;
    left: 50%;
    top: -44vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-- 13. Team-Area --*/

.single-team {
    border-radius: 300px 300px 10px 10px;
	background-color: #4b9346;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
	color: #fff;
}

.single-team:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.team-photo {
    overflow: hidden;
    border-radius: 100%;
}


.team-photo img {
    width: 100%;
}

.team-content {
    padding: 15px 15px;
	background: linear-gradient(#4b9346,  #6eb269);
}

.single-team .name {
    margin-bottom: 5px;
}

/*-- 14. Testimonial-Area --*/

.single-testimonial {
    position: relative;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 60px 60px 80px;
    border-radius: 6px;
    width: 80%;
    margin: 30px auto;
}

.single-testimonial:before {
    content: "\f1b2";
    font-family: 'Material-Design-Iconic-Font';
    font-size: 40px;
    color: #6858db;
    position: absolute;
    left: 30px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-testimonial .client-name {
    display: block;
    width: 100%;
    margin-top: 20px;
    color: #6858db;
}

.features .owl-controls .owl-nav > div,
.testimonials .owl-controls .owl-nav > div {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: block;
}

.features .owl-controls .owl-nav > div.owl-next,
.testimonials .owl-controls .owl-nav > div.owl-next {
    left: auto;
    right: 0;
}

.features .owl-controls .owl-dots,
.testimonials .owl-controls .owl-dots {
    text-align: center;
}

.features .owl-controls .owl-dots .owl-dot,
.testimonials .owl-controls .owl-dots .owl-dot {
    display: inline-block
}

.features .owl-controls .owl-dots .owl-dot > span,
.testimonials .owl-controls .owl-dots .owl-dot > span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #6858db;
    margin: 4px 8px;
    background-color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.features .owl-controls .owl-dots .owl-dot.active > span,
.testimonials .owl-controls .owl-dots .owl-dot.active > span {
    background-color: #6858db;
}

.features .owl-controls .owl-dots .owl-dot {
    display: none;
}

/*-- 15. Blog-Area --*/

.blog-single {
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 0 0 20px 0 #f2f2f2;
    box-shadow: 0 0 20px 0 #f2f2f2;
    border-radius: 6px;
    overflow: hidden;
}

.blog-single .blog-content {
    padding: 30px 15px;
}

.blog-single .blog-content .title {
    font-size: 16px;
}

.blog-single .blog-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

.blog-single .blog-meta li {
    display: inline-block;
    margin-right: 10px;
}

.blog-single .blog-meta li:last-child {
    margin-right: 0;
}

.blog-single .read-more {
    font-size: 12px;
}

/*-- 16. Download-Area --*/

.download-area {
    background: url('images/download-bg.jpg') no-repeat scroll left center / auto 100%;
}

.download-area .container {margin-right: -18vw;}
/*-- 17. Footer-Area --*/

.footer-area {
    padding-top: 120px;
    background-color: #f7f7f7;
}

/*-- 18. Social-Menu --*/

.social-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-menu li {
    display: inline-block;
    margin-right: 5px;
}

.social-menu li a i {
    width: 40px;
    height: 40px;
    background-color: #6858db;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.social-menu li a:hover i {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.social-menu li a i.zmdi-facebook {
    background-color: #3b5999;
}

.social-menu li a i.zmdi-twitter {
    background-color: #55acee;
}

.social-menu li a i.zmdi-google-plus {
    background-color: #dd4b39;
}

.social-menu li a i.zmdi-youtube-play {
    background-color: #e4405f;
}

/*-- 19. Subscribe-Form --*/

.subscribe {
    position: relative;
}

.subscribe .control {
    background-color: #ffffff;
    border: 1px solid #6858db;
    height: 60px;
    border-radius: 100px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px 30px;
    width: 100%;
}

.subscribe .sub-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    border: none;
    width: 80px;
    border-radius: 0 100px 100px 0;
    color: #ffffff;
    background-color: #6858db;
}

/*-- 20. Preloader-Style --*/

.preloade {
    background-color: #ffffff;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.preloade span {
    background: #6858db;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #6858db, #9f96e9);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, right top, from(#6858db), to(#9f96e9));
    background: -o-linear-gradient(left, #6858db, #9f96e9);
    background: linear-gradient(to right, #6858db, #9f96e9);
    border-radius: 100%;
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;
}

@-webkit-keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 20px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 20px rgba(104, 88, 219, 0.5);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
    }
}

@keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 20px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 20px rgba(104, 88, 219, 0.5);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 10px rgba(104, 88, 219, 0.5), 0 0 0 10px rgba(104, 88, 219, 0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
        box-shadow: 0 0 0 0 rgba(104, 88, 219, 0.5), 0 0 0 0 rgba(104, 88, 219, 0.5);
    }
}

.preloade span i {
    bottom: -7px;
    color: #ffffff;
    font-size: 28px;
    height: 32px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

/*-- 21. ScrollToTop --*/

#scrollUp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    line-height: 50px;
    background: linear-gradient(110deg, #A1E871, #65d272);
        background-color: rgba(0, 0, 0, 0);
        background-size: auto auto;
    background-size: 400% 400%;
 -webkit-animation: green-gradient 4s ease infinite;
-moz-animation: green-gradient 4s ease infinite;
	animation: green-gradient 4s ease infinite;}

@-webkit-keyframes green-gradient {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes green-gradient {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes green-gradient { 
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

#map {
    width: 100%;
    height: 700px;
}

/*-- Home-2 --*/

.home2 .header-area {

}

.home2 .mainmenu-area ul.nav.navbar-nav > li > a {
    color: #ffffff;
}

.home2 .mainmenu-area ul.nav.navbar-nav > li.ative > a,
.home2 .mainmenu-area ul.nav.navbar-nav > li > a:hover {
    color: #6858db;
}

.home2 .mainmenu-area.affix {
    background-color: #003073
}

.home2 .header-area {
    color: #ffffff;
}

.home2 .text-error {
    color: #ffffff;
}

.home2 .headline {
    color: #ffffff;
}

.row-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.home2 .price-box {
    /*background: url("images/price-bg-2.png") no-repeat scroll right top/ auto 50%;*/
}

.home2 .download-area {
    background: url(images/download-bg-2.jpg) no-repeat scroll left center / auto 100%;
}

.home2 .bttn-icon:hover {
    background-color: #59a454;
}

/*-- Home-3 --*/

.home3 .header-area {
    background: url("images/header-bg-3.jpg") no-repeat scroll center left / auto 100%;
    position: relative;
    z-index: 1;
}

.home3 .header-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("images/home-mobile-3.png") no-repeat scroll center right 15% / auto 80%;
}

.home3 .mainmenu-area ul.nav.navbar-nav > li > a {
    color: #ffffff;
}

.home3 .mainmenu-area ul.nav.navbar-nav > li.active > a,
.home3 .mainmenu-area ul.nav.navbar-nav > li > a:hover {
    color: #1EA9FE;
}

.home3 .mainmenu-area.affix {
    background-color: #003073
}

.home3 .header-area {
    color: #ffffff;
}

.home3 .text-error {
    color: #ffffff;
}

.home3 .headline {
    color: #ffffff;
}

.home3 .price-box {
    background: url("images/price-bg-2.png") no-repeat scroll right top/ auto 50%;
}

.home3 .download-area {
    background: url(images/download-bg-2.jpg) no-repeat scroll left center / auto 100%;
}

.home3 .bttn-icon {
    border-radius: 5px;
}

.home3 .bttn-icon:hover {
    background-color: #1EA9FE
}

.home3 .video-box .play-bttn {
    background-color: #1EA9FE
}

.home3 .video-box .play-bttn:hover {
    color: #1EA9FE;
    
}

.home3 .gallery .owl-controls .owl-dots .owl-dot.active span {
    background-color: #1EA9FE;
}

.home3 .single-testimonial:before {
    color: #1EA9FE;
}

.home3 .single-testimonial .client-name {
    color: #1EA9FE;
}

.home3 .testimonials .owl-controls .owl-dots .owl-dot > span {
    border-color: #1EA9FE;
}

.home3 .testimonials .owl-controls .owl-dots .owl-dot.active > span {
    background-color: #1EA9FE;
}

.home3 .navbar-bttn.active,
.home3 .navbar-bttn:hover {
    background-color: #1EA9FE;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.home3 .navbar-bttn.active:hover {
    background-color: #ffffff;
    color: #1EA9FE;
}

.home3 .bttn-default {
    border: 1px solid #1EA9FE;
    color: #1EA9FE;
}

.home3 .bttn-default:hover {
    color: #ffffff;
    background-color: #1EA9FE;
}

.home3 #scrollUp {
    background-color: #1EA9FE;
}

.home3 .subscribe .control {
    border: 1px solid #1EA9FE;
    color: #1EA9FE;
}

.home3 .subscribe .sub-button {
    background-color: #1EA9FE;
}

.shape-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.shape-list li {
    text-align: center;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 700;
}

.shape-list li span {
    display: block;
    width: 120px;
    height: 90px;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 20px;
}





/*RESPONSIVE*/
/* Medium Layout: 1280px. */

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .download-area {
        background-size: 50%;
    }
    .social-area {
        background-size: auto 70%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .download-area {
        background-size: 50%;
    }
    .social-area {
        background-size: auto 60%;
    }
    .network-area {
        background-size: auto 70%;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14px;
    }
    .single-service {
        padding: 40px 20px;
    }
    .single-service .service-title {
        font-size: 18px;
    }
    .social-area {
        background-size: auto 50%;
    }
    .network-area {
        background-size: auto 70%;
    }
    .price-box {
        padding: 40px 10px;
    }
    .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-padding-top {
        padding-top: 80px;
    }
    .section-pd-top-2 {
        padding-top: 30px;
    }
    .navbar-toggle {
        border-color: transparent;
    }
    .navbar-toggle .icon-bar {
        background-color: #6858db;
        border-radius: 0;
    }
    .headline {
        font-size: 28px;
    }
    .bttn-icon {
        padding: 10px 20px;
    }
    .bttn-icon .bttn-content {
        padding-left: 40px;
    }
    .bttn-icon .bttn-content .icon {
        width: 20px;
    }
    .service-area {
        padding-bottom: 0;
    }
    .single-service {
        margin-bottom: 30px;
    }
    .network-area {
        margin-top: 0;
    }
    .gallery {
        width: auto;
    }
    .blog-single,
    .single-team,
    .price-box {
        margin-bottom: 30px;
    }
    .single-testimonial {
        padding: 40px 20px;
    }
    .single-testimonial:before {
        display: none;
    }
    .home3 .download-area,
    .home2 .download-area,
    .download-area {
        background: none;
        padding: 0;
    }
    #map {
        height: 300px
    }
    .single-feature .title {
        font-size: 18px;
    }
    .form-double .form_group {
        width: 100%;
    }
    .social-area {
        padding-bottom: 30px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .page-title {
        font-size: 26px;
    }
    .header-area {
        height: auto;
        padding: 100px auto;
    }
    .vcenter {
        position: static;
        transform: translateY(0);
    }
    .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-padding-top {
        padding-top: 80px;
    }
    .section-pd-top-2 {
        padding-top: 50px;
    }
    .navbar-toggle {
        border-color: transparent;
    }
    .navbar-toggle .icon-bar {
        background-color: #6858db;
        border-radius: 0;
    }
    .navbar-bttn {
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .mainmenu-area #mainmenu {
        overflow-y: auto;
        max-height: 80vh
    }
    .mainmenu-area ul.nav.navbar-nav li {
        display: block;
    }
    .navbar-brand {
        padding: 8px 0 0 10px;
    }
    .headline {
        font-size: 28px;
    }
    .bttn-icon {
        padding: 10px 20px;
    }
    .bttn-icon .bttn-content {
        padding-left: 40px;
    }
    .bttn-icon .bttn-content .icon {
        width: 20px;
    }
    .service-area {
        padding-bottom: 0;
    }
    .single-service {
        margin-bottom: 30px;
        padding: 50px 30px 30px 30px;
        border: 1px solid #ededed;
    }
    .network-area {
        margin-top: 0;
    }
    .gallery {
        width: auto;
    }
    .blog-single,
    .single-team,
    .price-box {
        margin-bottom: 30px;
    }
    .single-testimonial {
        padding: 40px 20px;
    }
    .single-testimonial:before {
        display: none;
    }
    .home3 .download-area,
    .home2 .download-area,
    .download-area {
        background: none;
        padding: 0;
    }
    #map {
        height: 300px
    }
    .single-feature .title {
        font-size: 18px;
    }
    .form-double .form_group {
        width: 100%;
    }
    .social-area {
        padding-bottom: 30px;
    }
    #scrollUp {
        right: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    .social-area {
        background: none;
    }
    .social-logo {
        margin-bottom: 10px;
    }
    .play-bttn {
        width: 60px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        padding-left: 0;
    }
    #faq {
        padding-bottom: 0;
    }
    .maps-area {
        padding-top: 0;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}